<%layout("/layouts/boilerplate")%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <form action="/listings/<%=listing._id%>?_method=PUT" method="POST"  class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-lable">Title</label>
            <input type="text" name="listing[title]" value="<%=listing.title%>" class="form-control" required>
            <div class="valid-feedback">
                Looks Good!
              </div>
              <div class="invalid-feedback">
                Give Title
              </div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-lable">Description</label>
            <textarea name="listing[description]" cols="10" rows="5" class="form-control" required><%=listing.description%></textarea>
            <div class="valid-feedback">
                Looks Good!
              </div>
              <div class="invalid-feedback">
                Give Description
              </div>
        </div>
        <div class="mb-3">
          <img src="<%=originalImageUrl%>"  alt="listing image">
      </div>
        <div class="mb-3">
            <label for="image" class="form-lable">Image</label>
            <input type="file" name="listing[image]"  class="form-control" >
        </div>
       <div class="row">
        <div class="mb-3 col-4">
            <label for="price" class="form-lable">Price</label>
            <input type="number" name="listing[price]" value="<%=listing.price%>" class="form-control" required> 
            <div class="valid-feedback">
                Looks Good!
              </div>
              <div class="invalid-feedback">
              Enter Valid price
              </div>
        </div>

        <div class="mb-3 col-8">
            <label for="country" class="form-lable">Country</label>
            <input type="text" name="listing[country]" value="<%=listing.country%>" class="form-control" required>
            <div class="valid-feedback">
                Looks Good!
              </div>
              <div class="invalid-feedback">
                Enter Country Name
              </div>
        </div>
       </div>
       

        <div class="mb-3">
            <label for="location" class="form-lable">Location</label>
            <input type="text" name="listing[location]" value="<%=listing.location%>" class="form-control" required>  
            <div class="valid-feedback">
                Looks Good!
              </div>
              <div class="invalid-feedback">
               Enter Location
              </div>
        </div>
        
      

        <button class="add-btn btn">Edit</button>
    </form>
    </div>
</div>
</body>
