<%layout("/layouts/boilerplate")%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <form action="/listings/<%=listing._id%>?_method=PUT" method="POST">
        <div class="mb-3">
            <label for="title" class="form-lable">Title</label>
            <input type="text" name="listing[title]" value="<%=listing.title%>" class="form-control">
        </div>

        <div class="mb-3">
            <label for="description" class="form-lable">Description</label>
            <textarea name="listing[description]" cols="10" rows="5" class="form-control"><%=listing.description%></textarea>
        </div>
       
        <div class="mb-3">
            <label for="image" class="form-lable">Image</label>
            <input type="text" name="listing[image]" value="<%=listing.image%>" class="form-control">
        </div>
       <div class="row">
        <div class="mb-3 col-4">
            <label for="price" class="form-lable">Price</label>
            <input type="number" name="listing[price]" value="<%=listing.price%>" class="form-control"> 
        </div>

        <div class="mb-3 col-8">
            <label for="country" class="form-lable">Country</label>
            <input type="text" name="listing[country]" value="<%=listing.country%>" class="form-control">
        </div>
       </div>
       

        <div class="mb-3">
            <label for="location" class="form-lable">Location</label>
            <input type="text" name="listing[location]" value="<%=listing.location%>" class="form-control">  
        </div>
        
      

        <button class="add-btn btn">Edit</button>
    </form>
    </div>
</div>
</body>
